header {
    border-bottom: 1px solid #eee;
    padding-inline: 1rem;
    height: 4rem;
    line-height: 4rem;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    z-index: 1;
}

nav {
    display: grid;
    grid-template-columns: 15rem auto 15rem;
    min-height: 100%;
}

.title {
    font-weight: 300;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.generate-container {
    margin-block: 0;
    margin-left: auto;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}