:root {
    --bg-primary: darkcyan;
    --bg-primary-light: rgba(100 116 139 / 0.4);
    --bg-primary-lighter: rgba(100 116 139 / 0.15);

    --tc-primary: rgb(100 116 139);
    --tc-secondary: rgb(203 213 225);

    --bs-primary: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    --bs-secondary: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

    --br-circle: 9999px;
}

html {
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /*outline: 1px dotted red;*/
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    font-weight: 300;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}